<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Timeline</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>

  <nav class="px-12 pt-8 pb-3 flex items-end justify-between relative bg-white text-black border-b-2 border-gray-200">
    <!-- <img src="/media/SISTec-logo.png" class="h-16" alt="SISTec-logo"> -->
    <div id="nav-links"
      class="flex gap-16 text-[20px] font-[gilroy] font-semibold absolute top-[70%] left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <a href="#" class="text-black">Home</a>
      <a href="" class="text-black">Prototype</a>
      <a href="" class="text-black">Final Report</a>
      <a href="" class="text-black">About</a>
      <a href="" class="text-black">Contact</a>
    </div>
    <div class="profile-icon-cont">
      <i class="ri-user-3-line cursor-pointer text-4xl"></i>
    </div>

    <div class="toggleBtn cursor-pointer">
      <i class="ri-menu-line"></i>
      <i class="ri-close-large-line"></i>
    </div>
  </nav>
  <div class="drop-down-menu text-lg font-[gilroy] font-semibold">
    <i class="ri-user-3-line mt-5"></i>
    <a href="/views/home.ejs" class="text-black">Home</a>
    <a href="" class="text-black">Prototype</a>
    <a href="" class="text-black">Final Report</a>
    <a href="" class="text-black ">About</a>
    <a href="" class="text-black ">Contact</a>
  </div>



  <div class="timeline-container mt-10">
    <h2 class="text-4xl font-semibold text-[#3D50DF] text-center text-blue-700">Participate Registration</h2>
    <div class="timeline mt-10">
      <!-- Line connecting dots -->
      <div class="line"></div>

      <!-- Timeline items -->
      <div class="timeline-item" onclick="toggleInfo(this)">
        <div class="dot"></div>
        <div class="text-box">
          <div class="text text-[#1E2772]">Registration</div>
          <div class="info-box box1">
            <form action="">
              <h2 class="font-medium">Team Details</h2>
              <label for="team-name">Team name :</label>
              <div class="inp-cont">
                <input type="text" name="team-name" id="team-name" placeholder="Enter your team name"
                  onclick="stopClickPropagation(event)">
                <button class="border border-black">Submit Team Name</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="timeline-item" onclick="toggleInfo(this)">
        <div class="dot"></div>
        <div class="text-box">
          <div class="pro-text text text-[#1E2772] flex items-center gap-2">Prototype Upload <span class="text-2xl text-[#3D50DF]"><i> (Image Link)</i></span></div>
          <div class="info-box box2">
            <form action="">
              <h2 class=" flex items-center gap-5 font-semibold">Prototype:<p
                  class="mt-1 font-light text-lg text-gray-600">A prototype is a basic model of your project.</p>
              </h2>
              <a href="" class="inline-block mt-3 text-2xl text-blue-700 ">How to upload prototype ?</a> <br>
              <label for="prototype-link" class="inline-block mt-5">Prototype Link :</label>
              <div class="inp-cont">
                <input type="text" name="prototype-link" id="prototype-link" placeholder="Enter your Prototype Link"
                  onclick="stopClickPropagation(event)">
                <button class="border border-black">Submit Prototype Link</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="timeline-item " onclick="toggleInfo(this)">
        <div class="dot"></div>
        <div class="text-box">
          <div class="text text-[#1E2772]">Final Report</div>
          <div class="info-box box3">
            <form action="">
              <h2 class="flex items-center gap-5 font-semibold">Final Report :<p
                  class="mt-1 font-light text-lg text-gray-600">A final report is a document that explains the results
                  of a project.</p>
              </h2>
              <a href="" class="inline-block mt-3 text-2xl text-blue-700 ">How to upload Final Report ?</a>
              <button class="sample-rep border border-black">Download Sample Report</button> <br>
              <label for="Final-Report-link" class="inline-block mt-5">Final Report Link :</label>
              <div class="inp-cont">
                <input type="text" name="Final-Report-link" id="Final-Report-link"
                  placeholder="Enter your Final Report Link" onclick="stopClickPropagation(event)">
                <button class="border border-black">Submit Final Report </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    const toggleBtn = document.querySelector('.toggleBtn');
    const navLinks = document.getElementById('nav-links');
    const dropDownMenu = document.querySelector('.drop-down-menu');
    const menuIcon = document.querySelector('.ri-menu-line');
    const closeIcon = document.querySelector('.ri-close-large-line');

    toggleBtn.onclick = () => {
      dropDownMenu.classList.toggle('open');
      const isOpen = dropDownMenu.classList.contains('open');
      if (isOpen) {
        menuIcon.style.display = 'none';
        closeIcon.style.display = 'block';
      } else {
        menuIcon.style.display = 'block';
        closeIcon.style.display = 'none';
      }
    }


    function toggleInfo(element) {
      // Close all other info boxes
      document.querySelectorAll('.timeline-item').forEach(item => {
        if (item !== element) {
          item.classList.remove('active');
        }
      });

      // Toggle the clicked info box
      element.classList.toggle('active');
    }

    // Prevent click event from closing the info box when interacting with input field
    function stopClickPropagation(event) {
      event.stopPropagation();
    }
  </script>
</body>

</html>